.input {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid black;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
  background-color: #b2dbef;
  border: 1px solid #6496af
}

.input:focus {
  outline: 1px solid #6496af
}

.label {
  font-size: 1rem;
  font-weight: 400;
  color: #b2dbef;
  display: block;
}